.tecnologias{
    height: auto;
    background-color: var(--marrom-principal);
    
}

.tecnologias-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologias-img{
    border-bottom: .7px solid rgb(68, 66, 66);
    width: 50%;
    padding: 15px;
    text-align: center;
    margin-bottom: .5em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    width: 2em;
    margin: 1em;
    padding: 1em;
}

.card:hover{
    transform: rotate(-1deg) scale(1.1, 1.1);
}

.card img{
    height: 103px;
    width: 103px;
    margin: .5em
}

.card span{
    text-transform: uppercase;
    font-weight: 500;
}


@media screen and (min-width: 1024px) {

   .tecnologias-cards{
       flex-direction: row;
       flex-wrap: nowrap;
       width: 100%;
       flex-basis: 25%;
   }

   .tecnologias-img{
       width: 40%;
   }
    
}